body {
  font-family: 'PT Serif', serif;
}

p {
 text-align: left;
 line-height: 180%;
}

a {
  text-decoration: none;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

.link { color: #e0162b; } /* CSS link color  */
.link:hover { color: #0052a5; } /* CSS link hover */
.link:visited { color: #000999; } /* CSS link visited */

.container{
text-align: center;
margin-left: 10%;
margin-right: 10%;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

.navbar-icon {
  padding: 10px;
  margin-left: 10px;
}

.hero-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  display: block;
}

.story-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.story-byline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.intro {
    margin-left: 15%;
    margin-right: 15%;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 25px;
}

.page-footer {
  color: white;
  background-color: Black;
  height: 100px;
  padding: 25px;
  width: 100%;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.caption {
   width:100%;
   max-width:900px;
   padding-bottom:30px;
   font-family: 'Montserrat', sans-serif;
   color:#999;
   justify-content: center;
}

.chapter-headline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width:100%;
}

.yearly-shootings {
  font-family: 'PT Serif', serif;
  color: Black;
  font-size: 1.10em;
  line-height: 150%;
}

.graphic-continer-headline {
  font-size: 2em;
}

.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
}

.chartMargin {
  margin-left: 20%;
  margin-right: 20%;
}

.dataBox {
  font-family: 'Montserrat', sans-serif;
  background-color: #d3d3d3;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  margin-top:20px;
  font-size: 1.1em;
}
